@model List<TicariOtomasyon.Models.Classes.Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Departman Detay Sayfası</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.DepartmanId </td>
    <td>@item.DepartmanAd </td>

    <td><a href="/Departman/DepartmanSil/@item.DepartmanId" class="btn btn-danger">Sil</a></td>
    <td><a href="/Departman/DepartmanGetir/@item.DepartmanId" class="btn btn-warning" style="color:white">Güncelle</a></td>
    <td><a href="/Departman/DepartmanDetay/@item.DepartmanId" class="btn btn-primary" style="background-color:salmon;">Detaylar</a></td>

</tr>
    }

</table>
<a href="/Departman/DepartmanEkle" class="btn btn-info">Departman Ekle</a>